<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Engage the community" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary btn-sm" %>
  <%= f.file_field :picture %>
<% end %>
